div{
	/* border: 2px solid black; */
}

h2{
	font-family: Impact;
	color:#ffd27d;
	font-size: 80px;
	text-align: center;
	height: 50px;
}

#subtitle{
	text-align: center;
	font-size: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.formFrame{
	width: 70%;
	margin: auto;
	margin-top: 3px;
	height: 70px;
	margin-bottom: 5px;
}

.formInput{
	/* border: 1px solid black; */
	border-radius: 3px;
	/* background-color:grey; */  /* #f4f2f0; */
	height:50px; 
	width:65%; 
	margin:auto;
	padding-top: -1px;
	text-align: center;
} 

#input{
	border: 1px solid grey;
	border-radius: 3px;
	background-color: #f4f2f0;
	height:50px; 
	width:90%; 
	margin:auto;
	padding-top: 0px;
}

#buttonFrame{
	text-align: center;
}

.button{
	border-radius: 3px;
	color: white; /* #3f467c; */ /* navy blue*/
	background: #3f467c;
	width: 15%;
	height: 25px;
	font-family: Impact;
	font-size: 20px;
	font-weight: bold;
	/* text-align: center; */
	margin: auto;
	margin-top: 2px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	/* position: relative; */
}

#event{
	margin-top: 100px;
	margin: auto;
}

#detailFrame{
	padding-top:5px; 
	margin-top: 10px;
	width: 70%;
	height: 200px;
	margin:auto;
	padding-top:0px;
}

#detailInput{
	width: 90%;
	height: 170px;
	border-radius: 3px;
	border:1px solid grey;
	background-color: #f4f2f0;

}

#header{
	font-color:#ffd27d;
	/* font-color:white; */
	font-size:80px;
	float: left;
	font-family: Impact;
	position: relative;
}


/*.input{
	width: 120px;
	height: 20px;
	background-color: grey;
	margin: auto;
	text-align: center;
} */

